body {
    font: 15px arial, sans-serif;
    background-color: rgba(124, 223, 216, 0.2);
}

/* topics buttons */
#button-wrapper {
    background-color: #89bcda;
}
button {
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
    color: #a1d3eb;
    background-color: #3e0853;
}

button:hover {
    background-color: #81bcd8;
    color: white;
}

button:active {
    background-color: #81bcd8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* add gif form */
form {
    position: relative;
    top: 70px;
    right: 590px;
    margin: 0 auto;
    margin-right: 0px;
    float: right;
}

/*  */
#add-gif {
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    color: #a1d3eb;
    background-color: #400757;
}

#add-gif:hover {
    background-color: #81bcd8;
    color: white;
}

#add-gif:active {
    background-color: #81bcd8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* gif wrapper */
#gif-display {
    display: block;
    /* float: left; */
    margin: auto;
    margin-top: 190px;
    margin-left: 360px;
    width: 40%;
    padding: 20px;
} 

/* Media Queries */

/* Mobile */
@media screen and (max-width: 640px) {
    form {
        width: 100%;
        margin-right: -705px;
        margin-top: -30px;
    } 
    
    #gif-display {
        margin-top: 140px;
        margin-left: 90px;
    }
}